<!-- header shorcut -->
<nav class="w-full flex flex-row font-semibold text-base py-2 max-w-[1140px] mx-auto">
    <section class="w-2/5 flex flex-row items-center gap-2">
        <span nz-icon nzType="phone" nzTheme="fill" style="transform: rotateY(180deg) "></span>
        <a class="text-gray-500" href="tel:031234567">AMB 1234567</a>
        <div class="w-0.5 h-[60%] border border-r border-slate-500"></div>
        <a class="text-gray-500" href="tel:1234567">UIO 1234567</a>
    </section>
    <section class="w-3/5 flex flex-row items-center gap-2 justify-center">
        @for (item of menuItems; track $index;) {
            <a class="text-gray-500" [href]="item.url">{{item.label}}</a>
            @if ($index < menuItems.length - 1) {
                <div class="w-0.5 h-[60%] border border-r border-slate-500"></div>
            }
        }
        <button class="text-gray-500">ES</button>
        <button class="text-gray-500">EN</button>
    </section>
</nav>