.nav_subitems_container{
    visibility: hidden;
    margin-top: 16px;
    z-index: -1;
    height: 25vh;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.nav:hover > .nav_subitems_container{
    visibility: visible;
    z-index: 2;
    opacity: 1;
}
