<div class="w-full relative">
    <nav class="w-full flex flex-row justify-between font-semibold text-base py-2 max-w-[1140px] mx-auto ">
        <a class="w-1/2" href="#">
            <img class="w-[12.5rem]"  src="https://www.superarse.edu.ec/imagenes/logo.png" alt="img">
        </a>
        <ul class=" w-1/2 p-4">
            <li class="nav">
                <span class="nav_title hover:cursor-pointer">Nuestro Instituto</span>
                <ul class="nav_subitems_container bg-red-500 w-full absolute left-0  grid grid-cols-4 p-4">
                    <li></li>
                    <li>
                        <a href="#">Quienes Somos</a>
                    </li>
                    <li>
                        <a href="#">Conoce nuestra oferta academica</a>
                    </li>
                    <li>
                        <a href="">Beneficios al estudiar con nosotros</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>