<vicarti-shortcut-widget></vicarti-shortcut-widget>
<vicarti-menu-widget></vicarti-menu-widget>
<vicarti-slider></vicarti-slider>
<vicarti-searcher></vicarti-searcher>
<vicarti-grid-columns></vicarti-grid-columns>
<vicarti-content-slider [sliderHeader]="'Nuestro informativo'" [isNewsSlider]="true" [elementId]="'newsSwiper'" [hasGrayBackground]="true"></vicarti-content-slider>
<vicarti-content-slider [sliderHeader]="'Estudia ahora mismo'" [isNewsSlider]="false" [elementId]="'careerSwiper'"></vicarti-content-slider>
<vicarti-multimedia></vicarti-multimedia>
<vicarti-content-slider [sliderHeader]="'Conoce nuestras maestrias'" [isNewsSlider]="false" [elementId]="'masteriesSwiper'" [hasGrayBackground]="true"></vicarti-content-slider>
<vicarti-grid-columns></vicarti-grid-columns>
<vicarti-content-slider [sliderHeader]="'Convocatorias abiertas'" [isNewsSlider]="false" [elementId]="'convSwiper'" [hasPagination]="true"></vicarti-content-slider>
<vicarti-content-slider [sliderHeader]="'Convocatorias abiertas'" [isNewsSlider]="false" [elementId]="'convSwiper'" [hasPagination]="true"></vicarti-content-slider>
<vicarti-grid-columns></vicarti-grid-columns>
<vicarti-footer></vicarti-footer>