<footer class="flex flex-col bg-blue-700 py-4">
    <img class="w-[12.5rem] self-center"  src="https://www.superarse.edu.ec/imagenes/logo.png" alt="">
    <ul class="flex flex-row justify-center mt-4 gap-4">
        <li class="px-4 py-2 bg-red-500 rounded-md hover:-translate-y-2 transition-all ease-in-out duration-300">
            <a href="#" class="text-white w-full h-full hover:text-white">
                <span nz-icon class="text-lg" nzType="youtube" nzTheme="outline"></span>
            </a>
        </li>
        <li class="px-4 py-2 bg-black rounded-md hover:-translate-y-2 transition-all ease-in-out duration-300">
            <a href="#" class="text-white w-full h-full hover:text-white">
                <span nz-icon class="text-lg" nzType="x" nzTheme="outline"></span>
            </a>
        </li>
        <li class="px-4 py-2 bg-sky-500 rounded-md hover:-translate-y-2 transition-all ease-in-out duration-300">
            <a href="#" class="text-white w-full h-full hover:text-white">
                <span nz-icon class="text-lg" nzType="linkedin" nzTheme="outline"></span>
            </a>
        </li>
    </ul>
    <hr class="gradient-divider">
    <div class="grid grid-cols-3 mx-auto gap-12 text-white">
        <section class="flex flex-col gap-4">
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-inherit text-lg">AMBATO - SIMON BOLIVAR</h2>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="build" nzTheme="fill"></span>
                    <p class="mb-0">Bolivar y Guayaquil</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="phone" nzTheme="fill"></span>
                    <p class="mb-0">(+593) 3 299 4560</p>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-inherit text-lg">AMBATO - SIMON BOLIVAR</h2>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="build" nzTheme="fill"></span>
                    <p class="mb-0">Bolivar y Guayaquil</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="phone" nzTheme="fill"></span>
                    <p class="mb-0">(+593) 3 299 4560</p>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-4">
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-inherit text-lg">QUITO</h2>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="build" nzTheme="fill"></span>
                    <p class="mb-0">Bolivar y Guayaquil</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="phone" nzTheme="fill"></span>
                    <p class="mb-0">(+593) 3 299 4560</p>
                </div>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h2 class="text-inherit text-lg">AMBATO - SIMON BOLIVAR</h2>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="build" nzTheme="fill"></span>
                    <p class="mb-0">Bolivar y Guayaquil</p>
                </div>
                <div class="flex flex-row gap-2 items-center">
                    <span nz-icon nzType="phone" nzTheme="fill"></span>
                    <p class="mb-0">(+593) 3 299 4560</p>
                </div>
            </div>
        </section>
        <section class="flex flex-col">
            <div class="flex flex-col">
                <h2 class="text-inherit text-lg">LINKS DE INTERES</h2>
                <ul class="border-2 border-solid border-white">
                    <li class="py-4 px-2 border-b-2 border-solid border-b-white flex flex-row items-center text-base gap-3 font-semibold">
                        <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
                        <a class="text-white" href="#">Noticias</a>
                    </li>
                    <li class="py-4 px-2 border-b-2 border-solid border-b-white flex flex-row items-center text-base gap-3 font-semibold">
                        <span nz-icon nzType="book" nzTheme="outline"></span>
                        <a class="text-white" href="#">Biblioteca</a>
                    </li>
                    <li class="py-4 px-2 border-b-2 border-solid border-b-white flex flex-row items-center text-base gap-3 font-semibold">
                        <span nz-icon nzType="calendar" nzTheme="outline"></span>
                        <a class="text-white" href="#">Calendario</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <p class="text-white text-center mb-0 mt-4 font-semibold">Diseñado por Instituto Superarse. Todos los derechos reservados.</p>
</footer>